<div class="card mt-5 shadow-effect">
  <div class="card-body">
    <h4>Leave a Comment</h4>
    <p>You can leave a comment using this comment form </p>
    <form>
      <div class="form-group mb-3">
        <label class="mb-1" for="name">Name</label>
        <input id="name" type="text" class="form-control shadow-effect" placeholder="Enter Your Name Here">
      </div>
      <div class="form-group">
        <label class="mb-1" for="comment">Comment</label>
        <textarea id="comment" rows="10" cols="30" class="form-control shadow-effect" placeholder="Add Your Comment Here"></textarea>
      </div>
      <button class="btn  btn-info mt-3 btn-theme">Add a Comment </button>
    </form>
  </div>
</div>
