<section class="featured-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white"> Featured Posts</h2>
        <p class="text-white">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
           </p>
      </div>
      <div class="row mt-5" >
        <div class="col-lg-3" *ngFor="let featuredPost of featuredPostsArray">
          <app-post-card [homeComponentFeaturedCourse] = 'featuredPost'></app-post-card>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container mt-5">
  <div class="col-md-12 text-center">
    <h2> Latest Posts</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing edit. </p>
  </div>
  <div class="row">
    <div class="col-md-4 mt-3" *ngFor="let latestPost of latestPostArray">
      <app-post-card [homeComponentFeaturedCourse] = 'latestPost'></app-post-card>
    </div>
  </div>
</section>
