<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center"> About Us </h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p> Praesent ac congue mi. Donec iaculis justo rhoncus ornare maximus. Maecenas lorem ipsum, rhoncus tincidunt
        maximus nec, sollicitudin tristique metus. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Pellentesque auctor velit tempus, elementum lacus a, vulputate nisl. Suspendisse sit
        amet ultrices est, venenatis vehicula neque. Quisque commodo sapien odio, vel pretium urna fringilla lacinia.
        Quisque ut massa ut est eleifend feugiat. In eget bibendum est. Integer porta condimentum molestie. Vivamus
        aliquet ante ante, quis finibus nulla tristique a. Etiam mauris est, sodales ac nibh in, rutrum tempus arcu.
        Praesent scelerisque elit non libero pretium, ut vehicula metus blandit. Curabitur vitae arcu sed nisl mattis
        blandit non vitae odio. Aliquam in consectetur nisl</p>
      <p> Praesent ac congue mi. Donec iaculis justo rhoncus ornare maximus. Maecenas lorem ipsum, rhoncus tincidunt
        maximus nec, sollicitudin tristique metus. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Pellentesque auctor velit tempus, elementum lacus a, vulputate nisl. Suspendisse sit
        amet ultrices est, venenatis vehicula neque. Quisque commodo sapien odio, vel pretium urna fringilla lacinia.
        Quisque ut massa ut est eleifend feugiat. In eget bibendum est. Integer porta condimentum molestie. Vivamus
        aliquet ante ante, quis finibus nulla tristique a. Etiam mauris est, sodales ac nibh in, rutrum tempus arcu.
        Praesent scelerisque elit non libero pretium, ut vehicula metus blandit. Curabitur vitae arcu sed nisl mattis
        blandit non vitae odio. Aliquam in consectetur nisl</p>
      <p> Praesent ac congue mi. Donec iaculis justo rhoncus ornare maximus. Maecenas lorem ipsum, rhoncus tincidunt
        maximus nec, sollicitudin tristique metus. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Pellentesque auctor velit tempus, elementum lacus a, vulputate nisl. Suspendisse sit
        amet ultrices est, venenatis vehicula neque. Quisque commodo sapien odio, vel pretium urna fringilla lacinia.
        Quisque ut massa ut est eleifend feugiat. In eget bibendum est. Integer porta condimentum molestie. Vivamus
        aliquet ante ante, quis finibus nulla tristique a. Etiam mauris est, sodales ac nibh in, rutrum tempus arcu.
        Praesent scelerisque elit non libero pretium, ut vehicula metus blandit. Curabitur vitae arcu sed nisl mattis
        blandit non vitae odio. Aliquam in consectetur nisl</p>
      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home </button>
      </div>
    </div>
  </div>
</section>
